.rightbar-container{
    margin-top: 50px;
    
}

.rightbar-middle{
    padding-left: 10px;
    padding-top: 10px;
}


.gift{
    height: 50px;
    width: 50px;
}

.ad{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}





