.login-header{
    margin-right: 50px;
}

.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}

.login-form-wrapper{
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.11);
}

.separator{
    width: 80%;
}

.form-item{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(186, 186, 186);
    font-size: 1.2rem;
    padding-left: 10px;
}
.form-item::placeholder{
    font-size: 1.2rem;
    text-align: left;
}

.slogancaption{
    font-size: 1.2rem;
}

.slogan{
    font-weight: 700;
    font-size: 3.5rem;
    color: #1976f2;
}
.forgot{
    color: blue;
    margin-top: 10px;
}
.loginbutton{
    width: 100%;
    margin-top: 20px;
}


@media screen and (max-width: 768px){
    .login-wrapper{
        display: flex;
        flex-direction: column;
    }

    .login-header{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .login-form-wrapper{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 430px){
    .login-wrapper{
        display: flex;
        flex-direction: column;
    }

    .login-header{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .login-form-wrapper{
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 40px;
    }

    .form-item{
        width: 200px !important;
        height: 50px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid rgb(186, 186, 186);
        font-size: 1.2rem;
        padding-left: 10px;
    }
}