    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>My Website</title>
  </head>
  <body>
    <main>
            <div>
        <form action="/users/api/login" method="POST">
            <div>
                <label for="username">username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">login</button>
            </form>
    </div>  
    </main>
  </body>
</html>

