*{
    margin: 0;
    
}

/*make nav sticky top*/
.Topbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0276FD	;
    padding: 6px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo{
    margin-left: 8px;
    color: white;
    font-weight: 500;
}

.logo:hover{
    color: #283057;
    transition: 200ms;
}


.topbar-profile{
    padding-left: 10px;
    padding-right: 10px;
}

.topbar-profileImg{
    height: 32px;
    width: 32px;
    padding-bottom: 2px;
    border-radius: 50%;
    object-fit: cover;
}

.topbar-profileImg:hover{
    scale: 120%;
    transition: 200ms;
}

.Topbar-left{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: start;
}

.topba




.search-icon{
    margin-right: 8px;
    color: white;
}

.search-input{
    width: 100% !important;
    border: none;
    border-radius: 10px;
    padding-left: 10px;

}
input::-webkit-input-placeholder {
    text-align: center
}
.search-input:focus{
    outline: none;
}

.search-bar{
    width:80%
}

.Topbar-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
}

.topbar-icons{
    display: flex;
    color: white;

}

.topbar-link-item{
    margin-right: 8px;
    margin-left: 8px;
    color: white;
    position: relative;
}

.topbar-link-item-notification{
    position: absolute;
    font-size: 8px;
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.topbar-icon-item{
    padding-left: 15px;
    padding-right: 15px;
}

.logoutbutton{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 70px;
    height: 28px;
    border-radius: 10px;
    text-decoration: none;
    color: #0276FD;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
}

.messengerlogout:hover{
   scale: 110% !important;
   transition: 200ms;
    
}


{/* responsiveness for topbar for homepage and messenger*/}
@media screen and (max-width: 720px){

    .homeandprofile{
        margin-right: 15%;
    }

  }

  @media screen and (max-width: 720px){

    .messengerlogout{
        margin-right: 15%;
    }

  }

  @media screen and (max-width: 430px){

    .messengerlogout{
        margin-right: 15%;
    }

  }








