.friendprofilepic{
    height: 38px;
    width: 38px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.Friend{
    list-style: none;
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.Friend:hover{
    background-color: rgba(170, 170, 170, 0.15);
    scale: 105%;
    transition: 200ms;
}

.link {
    text-decoration: none;
    color: #c3c2ba;
}