.profile-bottom{
    display: flex;
    margin-right: 10px;
}


.content{
    display: flex;
}

.leftbar{
    display: none;
}

.profileright{
    padding-left: 20px;
    width: 100%;
}

.profile-container{
    margin-bottom: 50px;
}


@media screen and (min-width: 720px){

    .leftbar{
        display: block;
        min-width: 250px;
        margin-top: 50px;
        padding: 10px;
    }

  }